<div class="row">
    <div class="col wide">Apple</div>
    <div class="col wide">10</div>
    <div class="col wide">4.50</div>
    <div class="col">45.00</div>
    <div class="col right">
        <a href="#">&#10006;</a>
    </div>
</div>