<div class="table-foot">
    <form id="create-receipt-form">
        <div class="col wide">
        </div>
        <div class="col wide">
        </div>
        <div class="col wide right">Total: {{total}} </div>
        <div class="col">{{productsCount}}</div>
        <div class="col">
            <input id="checkoutBtn" type="submit" value="Checkout"/>
        </div>
        <input type="hidden" name="receiptId"/>
        <input type="hidden" name="productCount"/>
        <input type="hidden" name="total"/>
    </form>
</div>