<section id="viewProfile">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">SoftUni</h2>

            <a id="btnFollow" class="chirp-author" href="#">Follow</a>

            {{> chirpStats}}

        </div>
       {{> profileChirpsList}}
    </div>
</section>
