{{> header}}
{{> menu}}
<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            {{> chirperForm}}

            {{> userStats}}

            {{> chirpsList}}
        </div>

    </div>
</section>
{{> footer}}