{{> header}}
<div class="content">
    {{> navMenu}}

    {{> welcomeView}}

    {{> catalogView}}

    {{> submitView}}

    {{> myPostsView}}

    {{> editView}}

    {{> commentsView}}
</div>
{{> footer}}