{{> header}}
<div class="content">
    {{> navMenu}}
    <section id="viewCatalog">
        <div class="posts">
            {{#each articles}}
                {{> postArticle}}
            {{else}}
                <p>No posts in database.</p>
            {{/each}}
        </div>
    </section>
</div>
{{> footer}}
