<nav>
    <a class="active" href="#/feed">Home</a>
    {{#if isAuth}}
        <a href="#/create">Create Meme</a>
        <div id="profile">
            <a>Welcome {{username}}</a>
            <a href="#/profile/{{myId}}">My Profile</a>
            <a href="#/logout">logout</a>
        </div>
    {{/if}}
</nav>