{{>header}}
{{> navMenu}}
<div class="content">
    <section id="viewComments">
        {{> postArticleWithCommentsView}}

        {{> commentForm}}

        {{#each comments}}
            {{> comment}}
        {{/each}}
    </section>
</div>
{{> footer}}
