<div class="row">
    <div class="col wide">2018-04-15 12:33</div>
    <div class="col wide">15</div>
    <div class="col">160.50</div>
    <div class="col">
        <a href="#">Details</a>
    </div>
</div>